<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Harrygooner's <strong>Movie<strong>List</strong>!</h1>
    <p>A collection of my favourite movies</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do  %>
        <div class="card-category" <%= list.name %>-movie;>
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
